### Docker ###
/docker-compose.override.yml

### Go ###
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories
/vendor/

# Executable
/main

### JetBrains ###
/.idea/**/contentModel.xml
/.idea/**/dictionaries
/.idea/**/shelf
/.idea/**/tasks.xml
/.idea/**/usage.statistics.xml
/.idea/**/workspace.xml

### OS ###
.DS_Store
Thumbs.db
